/*
  Base CSS por Jorge Aznar
  https://jorgeatgu.com
  Estructura básica para iniciar cualquier proyecto con postCSS
*/

@import '_variables';

* {
    line-height: 1.3;
    box-sizing: border-box;
}

html {
    margin: 0;
}

.chart-sueldos {
    width: 60rem;
    margin: 0 auto;
}

.circle-max,
.max {
    fill: #69BA36;
}

.circle-min,
.min {
    fill: #e30613;
}

.circle-mean,
.media {
    fill: #708090;
}

circle {
    stroke: #111;
    stroke-width: 1;
}

text {
    font-family: var(--roboto);
    font-size: .75rem;
    color: #111;
}

.axis-y,
.axis-x {
    .tick line {
        stroke-dasharray: 3px;
        stroke: #ccc;
    }
    .domain {
        stroke: none;
    }

}

.undefined {
    display: none;
}
